[Unit]
Description=C daemon to adjust screen brightness to match ambient brightness, as computed capturing frames from webcam
Wants=clightd.service
After=display-manager.service

[Service]
Type=simple
ExecStartPre=/bin/sh -c '[ "$(env | grep XDG_SESSION_TYPE | sed s/^.*=//)" != "x11" ] || xhost local:root'
ExecStart=/usr/bin/clight
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
