[Unit]
Description=C daemon to adjust screen brightness to match ambient brightness, as computed capturing frames from webcam

[Service]
Type=simple
ExecStart=xhost + && /usr/bin/clight
Wants=clightd.service
After=display-manager.service

[Install]
WantedBy=default.target
