[Desktop Entry]
Type=Application
Name=Clight
GenericName=Quick screen backlight calibration
Exec=busctl --expect-reply=false --user call org.clight.clight /org/clight/clight org.clight.clight Capture "bb" false false
Comment=Recalibrate your screen backlight!
Icon=clight
Categories=System
Actions=Inhibit;Uninhibit;PauseCalib;ResumeCalib;Pause;Resume;ForceGamma

[Desktop Action Inhibit]
Exec=busctl --expect-reply=false --user call org.clight.clight /org/clight/clight org.clight.clight Inhibit "b" true
Name=Pause screen dimmer

[Desktop Action Uninhibit]
Exec=busctl --expect-reply=false --user call org.clight.clight /org/clight/clight org.clight.clight Inhibit "b" false
Name=Resume screen dimmer

[Desktop Action PauseCalib]
Exec=busctl --expect-reply=false --user set-property org.clight.clight /org/clight/clight/Conf/Backlight org.clight.clight.Conf.Backlight NoAutoCalib "b" true
Name=Pause backlight calibration

[Desktop Action ResumeCalib]
Exec=busctl --expect-reply=false --user set-property org.clight.clight /org/clight/clight/Conf/Backlight org.clight.clight.Conf.Backlight NoAutoCalib "b" false
Name=Resume backlight calibration

[Desktop Action Pause]
Exec=busctl --expect-reply=false --user call org.clight.clight /org/clight/clight org.clight.clight Pause "b" true
Name=Pause all clight feature

[Desktop Action Resume]
Exec=busctl --expect-reply=false --user call org.clight.clight /org/clight/clight org.clight.clight Pause "b" false
Name=Resume all clight features

[Desktop Action ForceGamma]
Exec=busctl --expect-reply=false --user set-property org.clight.clight /org/clight/clight/Conf/Gamma org.clight.clight.Conf.Gamma DayTemp "i" -1 && busctl --expect-reply=false --user set-property org.clight.clight /org/clight/clight/Conf/Gamma org.clight.clight.Conf.Gamma NightTemp "i" -1
Name=Force-set gamma for current conditions
