[Desktop Entry]
Type=Application
Name=Clight
Exec=clight
NoDisplay=true
Comment=Start Clight user daemon and turn your webcam into a light sensor
Categories=System
